@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.navbar {
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    /* background-position: ; */
}

.navbar-brand {
    margin-right: -70px;
}

.list {
    margin-left: 150px !important;
}

.list li {
    list-style: none !important;
    margin: 0 23px !important;
    margin-top: 10px !important;
}

.list li>a {
    text-decoration: none;
    color: rgb(183, 183, 183);
}

.list li>a:hover {
    color: black;
}

.icon i {
    margin: 0 15px;
    font-size: 25px;
}



.heading {
    margin: 0 auto !important;
}

.item li {
    margin: 0 23px !important;
    margin-top: 10px !important;
}

.item li>a {
    color: rgb(183, 183, 183);
    text-decoration: none;
}

.item li a:hover {
    color: black;
    text-decoration: underline;
}

/* ***************************images edit section*************************** */

.img>img {
    border: 1px solid red;
}

#images-1>img {
    width: 290px !important;
    height: 250px !important;
}

#images-2>img {
    width: 215px !important;
    height: 250px !important;
}

#images-3>img {
    width: 165px !important;
    height: 250px !important;
}

#images-4>img {
    width: 290px !important;
    height: 250px !important;
}

/*****************************   footer section    ******************************/

.footer-section{
    width: 100%;
    height: 90px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255) !important;
}

.footer_icon>i{
    margin-right: 23px;
}

/*****************************@media screen******************************/

@media only screen and (max-width: 992px) {
    .list {
        display: none;
    }

    .footer-section{
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 340px) {
    .heading h1 {
        font-size: 15px;
    }

    .navbar img {
        width: 100px;
    }

    .icon>i {
        font-size: 15px;
    }
}